AIVIS_BASE_URL=http://127.0.0.1:10101
AIVIS_STYLE_ID=0

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=https://seeton.github.io/tikbuzz/callback.html
TIKTOK_SCOPE=user.info.basic,video.upload
