AIVIS_BASE_URL=http://127.0.0.1:10101
AIVIS_STYLE_ID=0

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=http://localhost:5173/callback
TIKTOK_SCOPE=user.info.basic,video.upload,video.publish
